@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-white text-gray-900 font-sans antialiased m-0;
  }
}

:root {
  --accent: #c5a059;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #c5a059;
  border-radius: 10px;
}
